.widthSearhBar{
  display: flex;
  justify-content: center;
  
  margin-top: 5%;

  min-width: 98vw;
}
.searchContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
  height: 40px;
  width: 400px;
  
  border: 2px solid rgb(70, 70, 70);

}


/*Search Bar*/

.searchBar {
  background-color: transparent;

  height: 37px;
  width: 200px;

  border: none;

  font-family: "Poppins", sans-serif;
  
  color: #9ee23e;
 
}

.searchBar::placeholder {
  text-align: center;
  
  color: #9ee23e;
}

/*Button  Search Cards*/
.divButtonSearch{
  height: 100%;
}
.buttonSearch {
  font-family: "Poppins", sans-serif;

  background-color: transparent;
  
  border: none;
  
  cursor: pointer;
  
  height: 100%;
  width: 100px;
  
  color: #9ee23e;
  
  border-right: 2px solid rgb(70, 70, 70);
  border-left: 2px solid rgb(70, 70, 70);

}

.buttonSearch:hover {
  background-color: #9ee23e;

  color: black;
}

/*Button  CLose Cards*/
.closeAllCards{
  font-family: "Poppins", sans-serif;

  background-color: transparent;

  border: none;

  cursor: pointer;

  height: 37px;
  width: 100px;

  color: #9ee23e;
}

.closeAllCards:hover{
  background-color: #9ee23e;
  
  color: black;
}


/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .searchContainer {
    width: 310px;
    
  }

  .searchBar {
    width: 140px;
    
  }

  .buttonSearch,
  .closeAllCards {
    width: 80px;
  }
  
}

/*-----------------------Media Querys-----------------------*/
/* Estilos para pantallas medianas */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .searchContainer {
    width: 350px;
  }

  .searchBar {
    width: 180px;
  }

  .buttonSearch,
  .closeAllCards {
    width: 90px;
  }
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 1025px) {

}