.favoritesContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    
    grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    gap: 16px;
    max-width: 90vw;
    margin-left: 5%;

    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.favoritesContainer.fade-out {
    opacity: 0;
  }
