@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

.shadowCard {
  margin-top: 20%;
}

.linkDetails {
  text-decoration: none;
  color: black;
}
/* General Container */
.containerCard {
  display: flex;
  flex-direction: column;

  width: 280px;

  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;

  background-image: url(../../images/tree.png);

  border-radius: 5%;
  border-end-end-radius: 8%;
  border-end-start-radius: 8%;

  box-shadow: 0 0 30px 5px #9ee23e;
}

.card {
  width: 100%;
  border-radius: 1%;
  height: fit-content;
}

/* Div buttons */
.divButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-items: flex-end;
}

/* Fav button */

.buttonFav {
  width: 10%;

  background-color: #ffff00;

  border-radius: 20px;
  background-clip: padding-box;
}

/* Close button */
.buttonCard {
  width: 10%;

  border-radius: 20px;

  background-color: #ffff00;
  background-clip: padding-box;
}

/* Characters Images */
.characterImage {
  position: relative;
  z-index: 1;

  margin-left: 5%;
  margin-top: 8%;

  width: 70%;
  height: 80%;

  border-radius: 100%;

  cursor: pointer;
}

.portalBackground {
  position: relative;
  top: 20%;
  left: -40%;

  width: 100%;
  height: 100%;

  background-image: url(../../images/portal.png);
  background-size: cover;

  border-radius: 50%;

  box-shadow: 0 0 15px 15px #9ee23e;

  rotate: 60deg;
}

/* Container of Characters Images */
.backroundImage {
  display: flex;
  justify-content: center;

  width: 80%;

  margin-left: 10%;

  height: 200px;
}

/* Shadow */

.nameCard {
  border-end-start-radius: 5%;
  border-end-end-radius: 5%;

  margin: 0 auto;
  padding-top: 5%;

  font-family: "Creepster", cursive;
  text-align: center;
  font-size: xx-large;

  background-color: #f5fffa;
  color: #9ee23e;

  -webkit-text-stroke: 0.5px black;
}
.idCard {
  border-end-start-radius: 5%;
  border-end-end-radius: 5%;

  margin: 0 auto;
  padding-top: 2%;
  padding-left: 80%;

  font-family: "Creepster", cursive;
  text-align: center;
  font-size: large;

  background-color: #f5fffa;



}

/* Background of information */
.backOfBack {
  display: flex;
  flex-direction: column;
  background-color: #f5fffa;
  border-radius: 10%;
  height: 14vh;
}

/* Characters Information */
.infoCard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  padding-left: 5%;
  padding-right: 5%;
  background-color: #f5fffa;

  margin: 0;
}
