/*Container nav */
.nav {
  display: flex;
  justify-content: space-between;

  max-width: 100vw;

  padding-top: 5px;
}
/*ul nav */
.ulNav {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 15px;
  margin-left: 2%;
  font-family: "Creepster", cursive;
  font-size: x-large;
}

/*Links Home , aboout and Favorites*/
.aAbout {
  color: white;

  text-decoration: none;
}
.aHome {
  color: white;

  text-decoration: none;
}
.aFavorites {
  color: white;

  text-decoration: none;
}

/*Li Home , aboout and Favorites hover*/
.liAbout:hover {
  transform: translateY(10px);
}
.liHome:hover {
  transform: translateX(10px);
}
.liLogOut {
  color: white;
}

.aAbout:hover {
  color: #0f0;
}

.aFavorites:hover {
  color: #0f0;
}

/*Random and Logout Container*/
.randomAndLogOut {
  display: flex;
  align-items: center;

  gap: 15px;

  font-family: "Creepster", cursive;
  font-size: x-large;

  list-style: none;
}

.liFavorites:hover {
  transform: translateX(-10px);
}
.liRandomChar {
  color: white;

  cursor: pointer;
}
.removeFavorites {
  color: white;
}
.removeFavorites:hover {
  cursor: pointer;

  color: #0f0;
}

/*Hover Random and Logout */
.liRandomChar:hover {
  color: #0f0;

  transform: translateY(-10px);
}

.liLogOut:hover {
  cursor: pointer;

  transform: translateX(-10px);

  color: #0f0;
}

/*Title Nav*/
.titlePageDiv {
  display: flex;

  margin-right: 2%;
}

/*-----------------------Media Querys-------------------------------*/

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;

    align-items: center;
  }

  .ulNav {
    flex-direction: column;
    align-items: center;

    gap: 10px;
    margin-left: 0;
  }

  .randomAndLogOut {
    flex-direction: column;
    align-items: center;

    gap: 10px;
  }
}

/* Estilos para pantallas medianas */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .nav {
    flex-direction: row;
    align-items: center;
  }

  .ulNav {
    gap: 10px;
  }

  .randomAndLogOut {
    gap: 10px;
  }
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 1025px) {
}
