/* Detail Container*/
.detailDivContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  margin-top: 6%;

  font-family: "Creepster", cursive;

  height: 45vh;
  width: 100vw;

  background-color: transparent;
}

/* Img Detail*/
.ImgDetailContainer {
  display: flex;
  justify-content: center;

  width: 35vw;
}

.imgDetail {
  border-radius: 50%;
  width: 50%;

  box-shadow: 0 0 30px 5px white;
}

/* Name Char Detail*/

.nameDetailChar{
display: flex;
justify-content: center;

color :white;

font-size: 50px;

margin-bottom: 5%;

}
.liNameChar{
list-style: none;
}

/* Info Detail*/

.infoDetailContainer {
  color: white;
}

.ulInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50vw;
  
  gap: 20px;

  list-style: none;
 
  font-size: xx-large;
}

.liInfo {
  color: #BEE5FE;

  background-color: #ffff00;

  width: 50%;

  -webkit-text-stroke: 2px black;
}

