/* Detail Container*/
.detailDivContainer {
  margin-top: 6%;
  font-family: "Creepster", cursive;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45vh;
  width: 100vw;
  background-color: transparent;
}

/* Img Detail*/
.ImgDetailContainer {
  display: flex;
  justify-content: center;
  width: 35vw;
}

.imgDetail {
  border-radius: 50%;
  width: 50%;
  box-shadow: 0 0 30px 5px white;
}

/* Name Char Detail*/

.nameDetailChar{
display: flex;
justify-content: center;
color :white;
font-size: 50px;
margin-bottom: 5%;

}
.liNameChar{
list-style: none;
}

/* Info Detail*/

.infoDetailContainer {
  color: white;
}

.ulInfo {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
 
  
  font-size: xx-large;
}

.liInfo {
  color: #BEE5FE;
  background-color: #ffff00;
  width: 50%;
  -webkit-text-stroke: 2px black;
}

.pngContainer {
  width: 50vw;
 
}
.pngImg {
  width: 25%;
  height: 30vh;
}
