.divContainerTitle {
  margin-right: 10%;

  height: fit-content;
}

.titlePage {
  display: flex;
  justify-content: end;

  width: 100%;

  font-family: "Creepster", cursive;
  font-size: 45px;

  margin-top: 6%;
}
.morty {
  color: white;
}
.rick {
  color: #9ee23e;
}

.linkLogo {
  display: flex;
  text-decoration: none;
}
/* -------------------------------------------- */
/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .divContainerTitle {
    display: none;
  }
}

/* Estilos para pantallas medianas */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .divContainerTitle {
    margin-right: 7%;
  }

  .titlePage {
    margin-top: 5%;

    font-size: 40px;
  }
}
